	#altgreenheader2 .form-inline h1 {
		margin:0;
	}

	#altgreenheader2 .form-inline a {
		margin-left:70px;
	}

	#altgreenheader2 .form-inline select {
		line-height:40px;
	}

	.subtitles {
		width:200px;
	}

	#header3 .well  {
		margin-right:12px;
	}

	#header2 .form-inline input {
		margin-right:6px;
	}

	#header2 form .btn-primary {
		margin-left:5px;
	}

	#navigation {
		padding: 4px 0 8px 0;
		margin-top: 14px;
	}
	
	#propdetailsform .form-horizontal .btn {
		margin-left:-58px;
	}
	
	.divider {
		margin-left:12px;
	}
	
	#span4container {
		margin-left:25px;
		margin-top:10px;
	}
	
	hr {
		margin: 8px 0 8px 0;
	}
	
	.pagination {
		margin-top:15px;
	}
	
	#supportform {
		margin-top:10px;
	}
	