	.gradient {
		filter: none;
	}
			
	form .btn-primary {
		background-color: #E27C1E;
		filter:none;
	}	
	
	form .btn-primary:hover,
	.btn-primary:active,
	.btn-primary.active,
	.btn-primary.disabled,
	.btn-primary[disabled] {
		background-color: #E27C1E;
		filter:none;
	}
	