		body {
			background-image:url("../images/greybackground.png");
			background-repeat:repeat-x;
			font-family:"Gotham", Arial, Sans-serif;
			font-size:14px;
		}
		
		#header {
			height:81px;
			background-image:url("../images/bannerbackground.png");
			background-repeat:repeat-x;
		}
			
		#header a:hover {
			color:#ffffff;
		}
			
		#mainlogo {
			 width: 190px;
			 float: left;
			 margin: 28px 0 0 0px;
		 }
		 
		 #topnav {
			margin: 0px 0 0 260px;
			padding: 42px 0 20px 0;
			width: 430px;
			text-shadow: 1px 1px 1px #000000;
		 }
		 
		 #topnav a {
			position: relative;
			display: inline block;
			color: #a4a4a4;
			padding: 0 8px 20px 8px;
			text-decoration: none;
			font-size: 16px;
			font-weight:bold;
		 }
		 
		 <!--#topnav a.selected {
			background-image:url("");
			background-repeat:no-repeat;
			background-position:center bottom;
			color:#ffffff;
		 }-->

		 #toprightnav {
			float: right;
			width: 200px;
			margin: 0 0 0 0;
			text-align: right;
			padding: 0;
		 }
		 
		 #toprightnav a {
			color: #ffffff;
			font-size: 11px;
			border-bottom: 1px dotted #ffffff;
			text-decoration: none;
		 }
		 
		 #toprightnav p {
			color: #ffffff;
			font-size: 11px;
		}
		
		#toprightnav table {
			margin: 0 0 0 0;
		}
		
		#toprightnav table  td {
			padding: 0 10px 0 0;
		}
		
		#header2 {
			background-color: #7fb079; 
			background-repeat:repeat-x;
			height: 75px;
		}
		
		#header2 form {
			float:left;
			margin: 14px 0 0 0;
		}
		
		#header2 form label {
			color:#ffffff;
			font-size:12px;
			font-weight:normal;
			display: inline;
		}
		
		#header2 form input {
			margin: 0px 3px 0 0;
			font-size: 11px;
			font-weight: bold;
			color: #000000;
			width: 255px;
			border: 1px solid #486745;
			height: 20px;
			-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
			-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
			box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
			-webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px;		
		}

		#header2 form select {
			width: 120px;
			height: 28px;
			border: 1px solid #486745;
			-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
			-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
			box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
			cursor: pointer;
			margin: 0 3px 0 0;
			font-size: 11px;
			color: #000000;
			font-weight: bold;
		}
		
		#header3 {
			background-color: #e0e0e0;
			background-repeat:repeat-x;
			height: 110px;
			border-bottom: 1px solid #bcbcbc;
			border-top: 1px solid #bcbcbc;
		}	
			
		#header3 a {
			font-size: 12px;
			font-weight: bold;
			color:#429140;
			padding: 0 5px 0 5px;
			text-decoration:underline;
		}
		
		#header3 form {
			float:right;
			margin: 17px 10px 0 0;
		}
		
		#header3 form input {
			height:26px;
			width:144px;
			border:none;
			margin: 0 2px 0 0;
		}
		
		#header3 h1 {
			font-size: 20px;
			margin: 5px 0 0 0;
			padding-top: 0px;
		}		

		#bodytext {
			width: 500px;
			margin: 10px 0 0 420px;
			line-height:125%;
			padding: 0;
		}		
		
		#mainsearch {
			width:977px;
			background-image:url("../images/buysearchnorent.png");
			background-repeat:no-repeat;
			height: 190px;
			margin: 18px 0 0 0;
		}
		
		#mainsearch form {
			float:left;
			margin: 32px 0 0 0;
		}
	
		#mainsearch form input {
			font-size: 16px;
			font-weight: bold;
			color: #d9d9d9;
			width: 663px;
			border: 1px solid #486745;
			height: 30px;
			-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
			-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
			box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
			-webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px;		
		}

		#mainsearch form select {
			width: 163px;
			height: 30px;
			border: 1px solid #486745;
			-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
			-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
			box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
			cursor: pointer;
			margin: 0 3px 0 0;
		}
		
		#mainsearch .row1 {
			margin: 0 0 3px 33px;
			
		}
		
		#mainsearch .row2 {
			margin: 0 0 0 33px;
			width: 920px;
		}
		
		#inlineviews  {
			margin: 19px 0 0 0;
			padding: 0 0 0 0;
		}
		
		#inlineviews a {
			color: #494949;
			font-weight: bold;
			font-size: 12px;
			text-decoration:none;
			padding: 0 8px 0 8px;
		}
		
		#inlineviews #group1 {
			display: inline;
		}
		
		#inlineviews #group2 {
			display: inline;
		}
		
		#inlineviews  #group1 .selected {
			background-image:url("../images/viewlistbg.png");
			background-repeat:no-repeat;
			background-position:center bottom;
			padding: 7px 15px 8px 15px;	
		}
		
		#inlineviews  #group2 .selected {
			background-image:url("../images/viewsortbg.png");
			background-repeat:no-repeat;
			background-position:center bottom;
			padding: 9px 19px 8px 19px;	
		}
		
		#inlineviews .titles {
			color:#b0b0b0;
			font-weight:bold;
			margin: 0 12px 0 0;
		}
		
		#inlineviews  #group2 .titles {
			margin-left: 40px;
		}
		
		.property {
			width:620px;
			padding-top:20px;
		}
		
		.property  table {
			float:left;
			border: 8px solid #ededed;
			width: 158px;
		}
		
		.property  table td {
			background-color: #ededed;
			margin: 0;
			padding: 0;
			text-align:center;
			border: 8px solid #ededed;
		}
		
		.property  table img {
			border:0;
		}
		
		.property .agentlogo {
			width:72px;
			float:right;
			border:0;
		}
		
		.property .propertytext { 	
			margin: 0 0 0 175px;
		}
		
		.propertytext .propertyheading a {
			color: #ff5a00;
			font-weight: bold;
			font-size: 16px;
			text-decoration:none;
		}
		
		.propertytext .secondaryheading {
			color:#434343;
			font-weight:bold;
			font-size: 16px;
		}
		
		.propertytext  .propertysummary {
			color: #606060;
			text-align:justify;		
		}
		
		.propertytext .contacttools a{
			color:#006f00;
			text-decoration:underline;
		}
	
		.propertytext .contacttools p{
			color:#006f00;
		}
		
		hr {
			color:#ededed;
		}
		
		#sidebox1 {
			height: 255px;
			width:272px;
			background: #e8e8e8;
			margin: 20px 0 0 8px;
		}
		
		#sidebox2 {
			height: 320px;
			width: 272px;
			background: #e8e8e8;
			margin: 20px 0 0 8px;
		}
		
		#sidebox3 {
			height: 265px;
			width: 272px;
			background: #e8e8e8;
			margin: 20px 0 0 8px;
		}

		#sidebox2 img {
			border: 1px solid #bcbdb7;
		}
		
		.sideboxcontent {
			padding: 14px 17px 0 16px;
		}
			
		.sideboxheader {
			background-color:#b5b5b5;	
			font-size:18px;
			height:42px;
			font-weight:bold;
		}
		
		.sideboxheader  p {
			color:#ebebeb;
			padding: 11px 0 0 17px;
		}
		
		.sidephoto { 
			float: left;
			width:84px;
			margin-top:3px;
		}
			
		.sidetext  p {
			float: right;
			font-size: 12px;
			font-weight:bold;
			line-height:16px;
			width:145px;
			color: #7b7b7b;
		}
		
		.sidetext a {
			color:#2e8b23;
			text-decoration:underline;
		}